#Parameters marked with ** are required in docker-compose.yml file.

#Service
SERVICE_PORT=44432          #   Must be in between 1000 and 65535!  **

#Postgres
DATABASE_URL="postgresql://root:root@localhost:5432/files?schema=public"
DATABASE_USER="root"        #   Must be at least 4 characters long! **
DATABASE_PASSWORD="root"    #   Must be at least 4 characters long! **
DATABASE_NAME="files"       #   Must be at least 2 characters long! **
DATABASE_PORT=5432          #   Must be in between 1000 and 65535!  **

PGADMIN_EMAIL="admin@gmail.com"
PGADMIN_PASSWORD="admin"
PGADMIN_PORT=5430           #   **

#Redis
REDIS_HOST="localhost"
REDIS_PASSWORD="root"       #   Must be at least 4 characters long!
REDIS_USER="root"           #   Must be at least 4 characters long!
REDIS_PORT=6379             #   Must be in between 1000 and 65535! **
REDIS_TTL=120               #   Time in seconds. Must be at least 1 second!

#Files validation settings
FILE_MAX_SIZE=10            #   File size in MB. Must be at least 1 MB!
FILE_TYPES="png|jpeg|jpg"