#General
SERVICE_PORT=4434

#Postgres
DATABASE_URL="postgresql://root:root@localhost:5432/files?schema=public"
POSTGRES_USER="root"
POSTGRES_PASSWORD="root"
POSTGRES_DB="files"
POSTGRES_PORT=5432# It's required for docker-compose!

PGADMIN_DEFAULT_EMAIL="admin@gmail.com"
PGADMIN_DEFAULT_PASSWORD="admin"
PGADMIN_PORT=5430#  It's required for docker-compose!

#Redis
REDIS_HOST="localhost"
REDIS_PASSWORD="root"
REDIS_USER="root"
REDIS_PORT=6379#    It's required for docker-compose!

#Caching settings
CACHE_TTL=120#      seconds

#Files validation settings
FILE_MAX_SIZE=10#   Size in MB
AVATAR_FILE_TYPES="png|jpeg|jpg"