#Parameters marked with ** are required in docker-compose file.

#Service
SERVICE_PORT=44432                  #   Must be in between 1000 and 65535!  **
NGINX_PORT=1080                     #   Must be in between 1000 and 65535!  **
UID=1000                            #   Must be in between 1000 and 65535!  **
GID=1000                            #   Must be in between 1000 and 65535!  **

#Postgres
# For staging environment you can use:
DATABASE_URL="postgresql://root:root@files-service-postgres-stage:5432/files?schema=public"

# For devcontainer environment you can use:
# DATABASE_URL="postgresql://root:root@files-service-postgres:5432/files?schema=public"

# For local development you can use:
# DATABASE_URL="postgresql://root:root@localhost:5432/files?schema=public"
DATABASE_USER="root"                #   Must be at least 4 characters long! **
DATABASE_PASSWORD="root"            #   Must be at least 4 characters long! **
DATABASE_NAME="files"               #   Must be at least 2 characters long! **
DATABASE_PORT=5432                  #   Must be in between 1000 and 65535!  **

PGADMIN_EMAIL="admin@gmail.com"     #   **
PGADMIN_PASSWORD="admin"            #   **
PGADMIN_PORT=5430                   #   **

#Redis
# For staging environment you can use:
REDIS_HOST="files-service-redis-stage"

# For devcontainer environment you can use:
# REDIS_HOST="files-service-redis"

# For local development you can use:
# REDIS_HOST="localhost"
REDIS_PASSWORD="root"               #   Must be at least 4 characters long! **
REDIS_USER="root"                   #   Must be at least 4 characters long! **
REDIS_PORT=6379                     #   Must be in between 1000 and 65535! **
REDIS_TTL=120                       #   Time in seconds. Must be at least 1 second!

#External storage creadentials
EXTERNAL_STORAGE_KEYS=keys/gdrive.keys.json
EXTERNAL_STORAGE_MAIN_FOLDER_ID="1s1OZx2wn-Tys3GqTegAKymGpEdOTETOq"
